<!--==========================
    About Section
    ============================-->
    <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
      
              <h2>A propos de notre Application</h2>
             
                  M3alem , est une application mobile et web , à pour objectif est de réserver un chauffeur privée à tous moment avec un prix raisonnable.
                  Quelles sont les avantages de m3alem?
                  <ul>
                      <li>Prix /Km est 500 milimes</li>
                      <li>Notre chauffeur est payé par semaine</li>
                      <li>80% du revenu au chauffeur et le reste pour notre société</li>
                      <li>Disponiblité des chauffeurs</li>
                      <li>le prix de la course est donner par nous</li>
                  </ul>
                  
             
              
            </div>
           
          </div>
        </div>
      </section>
      
