

<button id="openModalHistPassager" [hidden]="true" data-toggle="modal" data-target="#modalHistPassager">Open Modal</button>
<div id="modalHistPassager" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Historique des courses</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table datatable [dtOptions]='dtOptionsPassager' [dtTrigger]="dtTriggerPassager"
                    class='row-border hover table table-striped'>
                    <thead>
                        <tr>
                            <th class="text-center">chauffeur</th>
                            <th class="text-center">passager</th>
                            <th class="text-center">date</th>
                            <th class="text-center">distance</th>
                            <th class="text-center">prix</th>
                            <th class="text-center">depart</th>
                            <th class="text-center">arrivée</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let hist of currentHists;" [id]="hist.id">
                            <td>{{ hist.nomDriver }}</td>
                            <td>{{ hist.nomPassager }}</td>
                            <td>{{ depuis(hist.dateCourse) }}</td>
                            <td>{{ hist.distance }} km</td>
                            <td>{{ hist.prixCourse }} DT</td>
                            <td>{{ hist.depart }}</td>
                            <td>{{ hist.arrivee }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="closeModalHistPassager" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>

<div class="container mt-100 ">
    <table datatable [dtOptions]='dtOptionsPassager' [dtTrigger]="dtTriggerPassager"
        class='row-border hover table table-striped'>
        <thead>
            <tr>
                <th class="text-center">cin</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Prénom</th>
                <th class="text-center">Téléphone</th>
                <th class="text-center">Date d'insption</th>
                <th class="text-center">Courses</th>

            </tr>
        </thead>
        <tbody>
            <tr class="text-center" app-passager-list-item   *ngFor="let p of passagers;" [id]="p.cin" [passager]="p"
            (onDeleteRequest)="onDeleteRequest($event)" (onRequestHist)="onRequestHist($event)">

        </tr>
           
        </tbody>
    </table>
</div>