

 <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>A propos de nous!!</h2>
            <p>Quelques infos </p>
          </div>
     
          <div class="row">
            <p>M3alem  , est une application mobile est web disponible sur play store , notre application à pour objectif d'aider les 
              passagers de trouver un moyen de transport rapidement. Nos partenaires , sont des chauffeurs qualifié notre vérifie les informations de chaque chauffeur 
              les assurances.
              les clients accéde à notre application donne sa localisation puis passe une reservation de chauffeur , aprés quelques minutes le chauffeur arrive à lui et le transporte à son destination et à la fin le client 
              consulte le prix de la course.
            </p>
        </div>
     </div>
      </section>
      <!--==========================
           Gallery Section
         ============================-->
      <section id="gallery" class="wow fadeInUp">
     
     
     
        <div class="owl-carousel gallery-carousel">
          <a href="assets/img/m3alem/img10.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/m3alem/img10.jpg"
              alt=""></a>
          <a href="assets/img/m3alem/img11.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/m3alem/img11.jpg"
              alt=""></a>
          <a href="assets/img/m3alem/img10.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/m3alem/img10.jpg"
              alt=""></a>
         
     
        </div>
     
      </section>
     